* {
  /* pad */
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
  color: #333;
}

h1,
h2 {
  text-align: center;
  color: inherit;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

/*--------- HEADER ---------*/
header {
  padding: 64px 24px 24px;
  background-color: #333;
  color: #eee;
}

nav .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
}

nav .nav__link:link,
nav .nav__link:visited {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav .nav__link:hover,
nav .nav__link:active {
  color: #aaa;
}

/*--------- BODY ---------*/
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.blog-post__section {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.blog-post__navigation-box {
  background-color: #ccc;
}

.blog-post__navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 36px 24px 8px;
}

.blog-posts {
  padding: 10px 10px 0;
}

.blog-post {
  border: 2px solid #ccc;
  padding: 10px 20px 32px;
  background-color: #fff;
}
.blog-post:not(:last-child) {
  margin-bottom: 30px;
}

.blog-post__title {
  padding: 14px 18px;
  margin-bottom: 20px;
}

.blog-post__author,
.blog-post__date {
  font-size: 14px;
}

.blog-post__description {
  padding-block: 18px;
  margin-bottom: 14px;
  line-height: 1.2;
  font-size: 16px;
}

.blog-post__img {
  width: 50%;
  margin-bottom: 10px;
}

.blog-post__link {
  margin-bottom: 18px;
}

/*--------- BODY ---------*/
footer {
  background-color: #333;
  color: #eee;
  padding-top: 36px;
}

footer form {
  background-color: #fff;
  color: #333;
  width: 50%;
  margin: 0 auto;
  padding: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer form > div {
  display: flex;
  flex-direction: column;
}

footer form input[type='submit'] {
  background-color: #333;
  color: #eee;
  padding: 10px 16px;
  cursor: pointer;
}

footer table {
  width: 100%;
  margin-bottom: 10px;
}

footer table th {
  text-align: start;
}

footer table th,
footer table td {
  padding: 4px;
}

footer p {
  font-size: 14px;
  padding: 10px 18px;
  text-align: center;
}

/*--------- MEDIA QUERY ---------*/
@media screen and (max-width: 900px) {
  .blog-post__section {
    flex-direction: column;
  }

  .blog-post__navigation {
    flex-direction: row;
    align-items: center;
    padding: 46px;
  }

  .blog-post__img {
    width: 100%;
  }
}
